{% extends "admin/base.html" %}
{% load i18n %}

{# Customize the admin header to include a quick link for scan uploads #}
{% block title %}
  {% blocktrans asvar default_site_title %}Django site admin{% endblocktrans %}
  {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:default_site_title }}
{% endblock %}

{% block branding %}
{% blocktrans asvar default_admin_header %}Django administration{% endblocktrans %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:default_admin_header }}</a></h1>
{% endblock %}

{% block nav-global %}
  <!-- Navigation shortcut to the scan upload form -->
  <a href="{% url 'admin-upload-scan' %}" class="button">Upload scans</a>
  <a href="{% url 'admin-do-ocr' %}" class="button">Do OCR</a>
  <a href="{% url 'admin-chatgpt-usage' %}" class="button">ChatGPT usage</a>
{% endblock %}
