{% extends "admin/base.html" %}
{% load i18n %}

{# Customize the admin header to include a quick link for scan uploads #}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
  <!-- Navigation shortcut to the scan upload form -->
  <a href="{% url 'admin-upload-scan' %}" class="button">Upload scans</a>
  <a href="{% url 'admin-do-ocr' %}?loop=1" class="button">Do OCR</a>
{% endblock %}
