{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  </li>
  {% endif %}
  {% if has_sync_permission and sync_taxa_url %}
  <li>
    <a href="{{ sync_taxa_url }}" class="button" aria-label="{% translate 'Sync taxa from NOW' %}">
      <i class="fa-solid fa-rotate" aria-hidden="true"></i>
      <span class="w3-hide-small">{% translate "Sync Taxa Now" %}</span>
    </a>
  </li>
  {% endif %}
{% endblock %}
