{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    {% with auth_layout_title=_("Sign In") auth_layout_subtitle=_("Welcome back to NMK") auth_layout_body_template="account/snippets/_login_form.html" %}
        {% include "account/_auth_layout.html" %}
    {% endwith %}
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
