{% load static %}
<!doctype html>
<html lang="en">
  <head>    
    <!-- Add W3.CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Add jQuery (Required for Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Ensure Select2 JS is included -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  
    {% block script %}{% endblock %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% block title %}
      <title>NMK CMS</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="main_navbar">
          <a href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" class="logo_image" alt="NMK LOGO"></a>
          

          {% block sidebar %}
            <ul class="sidebar-nav">
              <!--<div class="close-icon" onclick="toggleMenu()">✖</div>-->
              <li><a href="{% url 'index' %}" class="active">Home</a></li>
              {% if user.is_superuser or user.groups.first.name == 'Collection Managers' %}
              <li><a href="{% url 'fieldslip-list' %}">FieldSlips</a></li>
              {% endif %}
              <li><a href="{% url 'accession-list' %}">Accession</a></li>
              <!--<li><a href="">Contact</a></li>-->
              <li><a href="{% url 'reference-list' %}">Reference</a></li>
              {% if user.is_superuser or user.groups.first.name in "Curators Collection Managers" %}
                <li><a href="{% url 'preparation-list' %}">Preparations</a></li>
              {% endif %}
              <li><a href="{% url 'locality-list' %}">Locality</a></li>

              {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li>
                  <form id="logout-form" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                  </form>
                </li>
              {% else %}
                <a href="{% url 'account_login' %}?next={{ request.path }}" class="login_base_button">Login</a>
              {% endif %}
              
            </ul>
          {% endblock %}
          <div class="hamburger" onclick="toggleMenu()">☰</div>
        </div>
        
        <div class="col-sm-10 ">
          {% block content %}

          {% endblock %}
          
          {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="pagination_previous">
                      <i class="fa-solid fa-angles-left"></i>
                      Previous
                    </a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="pagination_next">Next
                    <i class="fa-solid fa-angles-right"></i></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

        
        </div>
      </div>
    </div>

    <script src="{% static 'javascript.js' %}"></script>

    {% block extra_scripts %}{% endblock %}

  </body>
</html>
