<!doctype html>
<html lang="en">
  <head>
    {% block title %}
      <title>Local Library</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    
    
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="main_navbar">
          <a href=""><img src="{% static 'images/logo.jpg' %}" class="logo_image" alt="NMK LOGO"></a>

          {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}" class="active">Home</a></li>
              <li><a href="{% url 'fieldslip-list' %}">FieldSlips</a></li>
              <li><a href="{% url 'accession-list' %}">Accession</a></li>
              <li><a href="">Contact</a></li>
              {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li>
                  <form id="logout-form" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                  </form>
                </li>
              {% else %}
                <li><a href="{% url 'account_login' %}?next={{ request.path }}">Login</a></li>
              {% endif %}
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">
          {% block content %}

          {% endblock %}
          
          {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="pagination_previous">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="pagination_next">Next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

        
        </div>
      </div>
    </div>
  </body>
</html>
