{% extends "base_generic.html" %}


{% block title %}
      <title>fieldslip-list</title>
{% endblock %}

{% block content %}

    <div class="fieldslip_list_body">
        <div class="container"></div>
        
        <div class="actions">
            <button><a href="{% url 'fieldslip-create' %}">New Field Slip</a></button> 
            <button><a href="{% url 'fieldslip-export' %}">Export</a></button>
            <button><a href="{% url 'fieldslip-import' %}">Import</a></button>
        
           <!-- <i class="fa-solid fa-magnifying-glass"></i>-->
        </div>
            <div class="search-bar">
                <input type="text" placeholder="Search by Specimen Number, Collector, Collection Date or Discoverer">
                <div class="actions">
                    <button class="add-new">+ ADD NEW</button>
                    <button class="export">Export</button>
                </div>
            </div>
            <hr class="accession_list_hr">

            <table>
                <thead>
                    <tr>
                        <th>Collection</th>  
                        <th>Specimen Number</th>                          
                    </tr>
                </thead>
                <input type="text" id="searchInput" placeholder="Search " >     
                <select id="colors" name="fieldslip" class="fieldslip_select">
                <option value="Field Number" >Field Number</option>
                <option value="Collector" >Collector</option>
                <option value="Collection Date" >Collection Date</option>
                <option value="Discoverer" >Discoverer</option>
                </select>

                <button type="reset" class="reset_button">Reset</button>
                
            </div>
           

            <table class="lists_table">
                <th> </th>
                <th>Specimen Number</th>                  

                    {% for accession in accessions %}
                    <tr >
                        <td>{{ accession.collection.abbreviation }}</td>
                    <!-- Add the specimen prefix here, i.e. ER and other prefixes -->
                    <td><a href="{% url 'accession-detail' accession.pk %}">{{ accession.specimen_no }}</a></td>
                        <td><span class="checkbox_list"><input type="checkbox"></span></td>
                        <td><a href="{% url 'accession-detail' accession.pk %}">{{ accession.specimen_no }}</a></td>
                    
              </tr>
                    
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <script src="script.js"></script>
    </div>


{% endblock %}
