{% extends "base_generic.html" %}


{% block title %}
      <title>fieldslip-list</title>
{% endblock %}

{% block content %}

<div class="template_list_body">
    <div class="container"></div>
    
    <div class="actions">
        <button><a href="{% url 'fieldslip-create' %}">New Field Slip</a></button> 
        <button><a href="{% url 'fieldslip-export' %}">Export</a></button>
        <button><a href="{% url 'fieldslip-import' %}">Import</a></button>
    
       <!-- <i class="fa-solid fa-magnifying-glass"></i>-->
    </div>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search " >
 
            <select id="colors" name="dropdown-list" class="dropdown-list-select">
            <option value="Field Number" >Specimen Number</option>
            <option value="Collector" >Collection</option>
            <option value="Collection Date" >Specimen Prefix</option>
            <option value="Discoverer" >accessioned By</option>
            </select>


            
        </div>



           

            <table class="lists_table">
               
                <th>Collection</th>
                <th>Specimen Prefix</th>
                <th>Specimen Number</th>    
                <th>accessioned By</th>               

                    {% for accession in accessions %}
                    <tr >
                        <!--<td>{{ accession.collection.abbreviation }}</td>-->

                        <td>{{ accession.collection.abbreviation }}</td>
                        <td>&nbsp;{{ accession.specimen_prefix.abbreviation }}</td>
                        <td><a href="{% url 'accession-detail' accession.pk %}">{{ accession.specimen_no }}</a></td>
                        <td>&nbsp;{{ accession.accessioned_by }}</td>

              </tr>
                    
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <script src="script.js"></script>
    </div>


{% endblock %}
