{% extends "base_generic.html" %}
{% block content %}
  <div class="w3-container w3-card w3-white w3-round-large w3-padding-large">
    <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
    <form action="" method="post">{% csrf_token %}
      {{ wizard.management_form }}
      {% for field in wizard.form %}
        <div class="w3-margin-bottom">
          <label class="w3-text-blue"><b>{{ field.label }}</b></label>
          {{ field }}
          {% if field.errors %}
            <div class="w3-text-red">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <div class="w3-margin-top">
        {% if wizard.steps.prev %}
            <button type="submit" class="w3-button w3-gray"
                    name="wizard_goto_step" value="{{ wizard.steps.prev }}">
            Previous
            </button>
        {% endif %}
        <button type="submit" class="w3-button w3-green">Next</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block extra_scripts %}
{{ wizard.form.media }}  <!-- Include JS/CSS required by FieldSlipWidget -->
<script>
  $(document).ready(function() {
    $('select').select2();  // apply to all select elements
  });
</script>
{% endblock %}
