{% extends "base_generic.html" %}


{% block title %}
      <title>fieldslip-list</title>
{% endblock %}

{% block content %}

<div class="template_list_body">
    <div class="container"></div>
    
    <div class="template_buttons">           
        <div class="search-bar">
          <input type="text" id="searchInput" placeholder="Search " >

          <select id="colors" name="dropdown-list" class="dropdown-list-select">
          <option value="Field Number" >Field Number</option>
          <option value="Collector" >Collector</option>
          <option value="Collection Date" >Collection Date</option>
          <option value="Discoverer" >Discoverer</option>
          </select>
         </div>
      

    <!--  <div class="actions">
          <button><a href="{% url 'fieldslip-create' %}">
              <div class="icon-text">
              <i class="bi bi-plus-square"></i>
              <span >New Slip</span>
              </div></a>
          </button>

          <button><a href="{% url 'fieldslip-import' %}">
              <div class="icon-text">
                  <i class="bi bi-download"></i>
                  <span>Import</span>
              </div></a>
          </button>

          <button><a href="{% url 'fieldslip-export' %}"> 
              <div class="icon-text">
                  <i class="bi bi-upload"></i>
                  <span> Export</span>
              </div></a>
          </button>
      </div>-->
  </div>  

           

            <table class="lists_table">
               
                <th>Collection</th>
                <th>Specimen Prefix</th>
                <th>Specimen Number</th>    
                <th>accessioned By</th>               

                    {% for accession in accessions %}
                    <tr >
                        <!--<td>{{ accession.collection.abbreviation }}</td>-->

                        <td>{{ accession.collection.abbreviation }}</td>
                        <td>&nbsp;{{ accession.specimen_prefix.abbreviation }}</td>
                        <td><a href="{% url 'accession-detail' accession.pk %}">{{ accession.specimen_no }}</a></td>
                        <td>&nbsp;{{ accession.accessioned_by }}</td>

              </tr>
                    
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

