{% extends "base_generic.html" %}

{% block content %}
        <div class="template-detail-container">
            <div class="template-detail-header">
                <h2 class="accession-detail-h2">AccessionRow Detail</h2>
            </div>
           
            <div class="grid-container">
              
                <!-- Accession Card -->
                <div class="card">
                    <p><strong>Accession: </strong> <br> {{ accessionrow.accession}}</p>
                    <p><strong>Specimen Suffix: </strong> <br> {{ accessionrow.specimen_suffix }}</p>
                    <p><strong>Storage: </strong> <br> {{ accessionrow.storage }}</p>
  
                </div>
                
                <a href="{% url 'accession-detail' accessionrow.accession.id %}">Back to Accession</a>
                 
                
            </div>

        </div>

{% endblock %}


