{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
  {% if form.instance.pk %}
    {% trans "Edit Accession" %}
  {% else %}
    {% trans "New Accession" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% trans "Save accession" as save_accession_label %}
  {% trans "Accession" as accession_label %}
  <main class="w3-container w3-margin-top w3-margin-bottom" role="main">
    {% include "includes/base_form.html" with form=form submit_label=save_accession_label submit_icon="fa-floppy-disk" method="post" action=request.path title=accession_label heading_id="accession-form-heading" %}
    <div class="w3-margin-top">
      <a href="{% url 'accession_list' %}" class="w3-button w3-white w3-border w3-round-large w3-hover-light-grey">
        <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i>
        <span class="w3-margin-left">{% trans "Back to accessions" %}</span>
      </a>
    </div>
  </main>
{% endblock %}
