{% extends "base_generic.html" %}   
{% load custom_filters %}

{% block content %}
    <div class="template-detail-container">
        <div class="template-detail-header">
            <h2 class="accession-detail-h2">Accession Detail</h2>
        </div>
        <div class="grid-container">            
            <!-- Accession Card -->            
            <div class="card">
                <table>
                    <caption>Accession</caption>
                    <tbody>
                        <tr>
                            <th>ACC No.:</th>
                            <td>{{ accession }}</td>
                        </tr>
                        <tr>
                            <th>Locality:</th>
                            <td>{{ accession.specimen_prefix }}</td>
                        </tr>
                        <tr>
                            <th>Type specimen:</th>
                            <td>{{ accession.type_status }}</td>
                        </tr>
                        <tr>
                            <th>Accessioned by:</th>
                            <td>{{ accession.accessioned_by }}</td>
                        </tr>
                        <tr>
                            <th>General comment:</th>
                            <td>{{ accession.comment }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>

                {% if user.is_authenticated and user.groups.all.0.name == "Collection Managers" %}
                    <a href="{% url 'add-geology' accession.id %}">➕ Add Horizon</a>
                {% endif %}

                <table>
                    <caption>Horizon</caption>
                    <thead>
                        <tr>
                            <th>Upper</th>
                            <th>Lower</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for geology in geologies %}                   
                            <tr>
                                <td>{{ geology.earliest_geological_context }}</td>
                                <td>{{ geology.latest_geological_context }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <hr>
                {% if user.is_authenticated and user.groups.all.0.name == "Collection Managers" %}
                    <a href="{% url 'add_accession_row' accession.id %}">➕ Add Specimen</a>
                {% endif %}
                <table>
                    <caption>Specimen details</caption>
                    <thead>
                        <tr>
                            <th>Specimen</th>
                            <th>Storage</th>
                            <th>Taxon</th>
                            <th>Family</th>
                            <th>Subfamily</th>
                            <th>Tribe</th>
                            <th>Genus</th>
                            <th>Species</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for accessionrow in accession.accessionrow_set.all %}                   
                            <tr>
                                <td><a href="{% url 'accessionrow-detail' accessionrow.pk %}">{{ accessionrow.specimen_suffix }}</a></td>
                                <td>{{ accessionrow.storage }}</td>
                        
                                {% with first_identifications|get_item:accessionrow.id as first_identification %}
                                    {% if first_identification %}
                                        {% with taxonomy|get_item:first_identification.id as matched_taxon %}
                                            <td>
                                                {{ first_identification.taxon }}
                                                {% if identification_counts|get_item:accessionrow.id > 1 %}
                                                    <span title="This specimen has previous identifications">(*)</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ matched_taxon.family|default:"-" }}</td>
                                            <td>{{ matched_taxon.subfamily|default:"-" }}</td>
                                            <td>{{ matched_taxon.tribe|default:"-" }}</td>
                                            <td>{{ matched_taxon.genus|default:"-" }}</td>
                                            <td>{{ matched_taxon.species|default:"-" }}</td>
                                        {% endwith %}
                                    {% else %}
                                        <td>No Taxon identified</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    {% endif %}
                                {% endwith %}
                            </tr>
                        {% endfor %}                    
                    </tbody>
                </table>                <hr>
                {% if user.is_authenticated and user.groups.all.0.name == "Collection Managers" %}
                  <a href="{% url 'add-reference' accession.id %}">➕ Add Reference</a>
                {% endif %}
                {% if references %}
                <table>
                    <caption>References</caption>
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>First author</th>
                            <th>Title</th>
                            <th>Page(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ref in references %}
                            <tr>
                                <td>{{ ref.reference.year }}</td>
                                <td>{{ ref.reference.first_author }}</td>
                                <td>{{ ref.reference.title }}</td>
                                <td>{{ ref.page }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"> {{ references|length }} References</td>
                        </tr>
                    </tfoot>
                </table>
                {% else %}
                    <p>No References found for this accession.</p>
                {% endif %}
                <hr>                

                {% if user.is_authenticated and user.groups.all.0.name == "Collection Managers" %}
                    <a href="{% url 'upload-media' accession.id %}">➕ Upload Media</a>
                {% endif %}
                <table>
                    <caption>Media</caption>
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Type</th>
                        <th>License</th>
                        <th>Media</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if accession.media.all %}
                        {% for media in accession.media.all %}
                            <tr>
                                <td>{{ media.file_name }}</td>
                                <td>{{ media.type }}</td>
                                <td>{{ media.get_license_display }}</td>
                                <td>
                                    {% if media.media_location %}
                                        <a href="{{ media.media_location.url }}" target="_blank">
                                        {% if media.type == "photo" %}
                                            <img src="{{ media.media_location.url }}" alt="{{ media.file_name }}" height="100">
                                        {% else %}
                                            View File
                                        {% endif %}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>There are no media files available for this accession.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <hr>

                {% if user.is_authenticated and user.groups.all.0.name == "Collection Managers" %}
                  <a href="{% url 'add-comment' accession.id %}">➕ Add Comment</a>
                {% endif %}
                {% if comments %}
                    <table>
                        <caption>Comments</caption>
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Comment</th>
                                <th>Comment by</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        {% for comment in comments %}
                            <tbody>
                                <tr>
                                    <td>{{ comment.subject }}</td>
                                    <td>{{ comment.comment }}</td>
                                    <td>{{ comment.comment_by }}</td>
                                    <td>{{ comment.get_status_display }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No Comments found for this accession.</p>
                {% endif %}            
            </div>
            <div class="card">
                <h3>Related FieldSlips</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Field Number</th>
                            <th>Verbatim Taxon</th>
                            <th>Verbatim Element</th>
                            <th>Verbatim Locality</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for relation in related_fieldslips %}
                        <tr>
                            <td>
                                <a href="{% url 'fieldslip-detail' relation.fieldslip.pk %}">{{ relation.fieldslip.field_number }}</a>
                            </td>
                            <td>{{ relation.fieldslip.verbatim_taxon }}</td>
                            <td>{{ relation.fieldslip.verbatim_element }}</td>
                            <td>{{ relation.fieldslip.verbatim_locality }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No FieldSlips linked.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <h3>Add Existing FieldSlip</h3>
                {{ add_fieldslip_form.media }}
                <form method="POST" action="{% url 'add-fieldslip-to-accession' accession.pk %}">
                    {% csrf_token %}
                    {{ add_fieldslip_form }}
                    <button type="submit" class="btn btn-primary">Add FieldSlip</button>
                </form>
            
                <h3>Create and Link New FieldSlip</h3>
                <form method="POST" action="{% url 'create-fieldslip-for-accession' accession.pk %}">
                    {% csrf_token %}
                    {{ fieldslip_formset.management_form }}
                    {% for form in fieldslip_formset %}
                        {{ form.as_p }}
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Create FieldSlip</button>
                </form>            
            </div>
        </div>
    </div>
{% endblock %}


