{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}{% trans "Add Specimen Identification" %}{% endblock %}

{% block content %}
  {% trans "Save identification" as save_identification_label %}
  {% trans "Taxon to specimen:" as taxon_to_specimen_label %}
  <main class="w3-container w3-margin-top w3-margin-bottom" role="main">
    {% include "includes/base_form.html" with form=form submit_label=save_identification_label submit_icon="fa-dna" method="post" action=request.path title=taxon_to_specimen_label access=accession_row heading_id="specimen-identification-form" %}
    <div class="w3-margin-top">
      <a href="{% url 'accessionrow_detail' accession_row.id %}" class="w3-button w3-white w3-border w3-round-large w3-hover-light-grey">
        <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i>
        <span class="w3-margin-left">{% trans "Back to specimen" %}</span>
      </a>
    </div>
  </main>
{% endblock %}
