{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}{% trans "Add Accession Horizon" %}{% endblock %}

{% block content %}
  {% trans "Save horizon" as save_horizon_label %}
  {% trans "Horizon to accession:" as horizon_to_accession_label %}
  <main class="w3-container w3-margin-top w3-margin-bottom" role="main">
    {% url 'accession_detail' accession.id as cancel_url %}
    {% include "includes/base_form.html" with form=form submit_label=save_horizon_label submit_icon="fa-layer-group" method="post" action=request.path title=horizon_to_accession_label access=accession heading_id="accession-horizon-form" cancel_url=cancel_url %}
  </main>
{% endblock %}
