{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}{% trans "Add Accession Reference" %}{% endblock %}

{% block content %}
  {% trans "Save reference" as save_reference_label %}
  {% trans "Reference to accession:" as reference_to_accession_label %}
  <main class="w3-container w3-margin-top w3-margin-bottom" role="main">
    {% include "includes/base_form.html" with form=form submit_label=save_reference_label submit_icon="fa-book" method="post" action=request.path title=reference_to_accession_label access=accession_row heading_id="accession-reference-form" %}
    <div class="w3-margin-top">
      <a href="{% url 'accession_detail' accession.id %}" class="w3-button w3-white w3-border w3-round-large w3-hover-light-grey">
        <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i>
        <span class="w3-margin-left">{% trans "Back to accession" %}</span>
      </a>
    </div>
  </main>
{% endblock %}
