{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
  {% if form.instance.pk %}
    {% trans "Edit Drawer" %}
  {% else %}
    {% trans "New Drawer" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% trans "Save drawer" as save_drawer_label %}
  {% trans "Drawer" as drawer_label %}
  <main class="w3-container w3-margin-top w3-margin-bottom" role="main">
    {% include "includes/base_form.html" with form=form submit_label=save_drawer_label submit_icon="fa-box-archive" method="post" action=request.path title=drawer_label heading_id="drawer-form" %}
    <div class="w3-margin-top">
      <a href="{% url 'drawerregister_list' %}" class="w3-button w3-white w3-border w3-round-large w3-hover-light-grey">
        <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i>
        <span class="w3-margin-left">{% trans "Back to drawers" %}</span>
      </a>
    </div>
  </main>
{% endblock %}
