{% extends "base_generic.html" %}

{% block title %}
      <title>fieldslip-list</title>
{% endblock %}

{% block content %}

<div class="w3-container w3-margin-top">
    <h2>Field Slips</h2>

    <button onclick="toggleAccordion('fieldslipFilterPanel')" class="w3-button w3-block w3-light-grey w3-left-align">
        🔍 Show/Hide Filters
    </button>

    <div id="fieldslipFilterPanel" class="w3-hide w3-animate-opacity w3-padding w3-light-grey w3-round-large w3-margin-top">
        <form method="get">
            <div class="w3-row-padding">
                <div class="w3-third">
                    <label>Collector</label>
                    {{ filter.form.collector }}
                </div>
                <div class="w3-third">
                    <label>Collection Date</label>
                    {{ filter.form.collection_date }}
                </div>
                <div class="w3-third">
                    <label>Verbatim Locality</label>
                    {{ filter.form.verbatim_locality }}
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-third">
                    <label>Verbatim Taxon</label>
                    {{ filter.form.verbatim_taxon }}
                </div>
                <div class="w3-third">
                    <label>Verbatim Element</label>
                    {{ filter.form.verbatim_element }}
                </div>
                <div class="w3-third">
                    <label>Verbatim Horizon</label>
                    {{ filter.form.verbatim_horizon }}
                </div>
            </div>

            <div class="w3-container w3-padding-16">
                <button type="submit" class="w3-button w3-blue w3-margin-right">Apply Filters</button>
                <a href="{% url 'fieldslip-list' %}" class="w3-button w3-gray">Clear</a>
            </div>
        </form>
    </div>
</div>

    <div class="template_list_body">
        <div class="container"></div>       
        </div>
 
        <div class="table-container">
            <table class="lists_table">
            
               

                  <th>Field Number</th>
                  <th>Collector</b>
                    <th>Collection Date</b>
                    <th class="hidden-mobile">Verbatim Locality</b>
                    <th class="hidden-mobile">Verbatim Taxon</b>
                    <th class="hidden-mobile">Verbatim Element</b>
                    <th class="hidden-mobile">Verbatim Horizon</b>
                    <th class="hidden-mobile">Aerial Photo</b>
                    <th class="hidden-mobile">Edit Fieldslip</b>
                    <th> <button id="toggleColumns">Show More</button></th>
              

     
                {% for fieldslip in fieldslips %}

     
                   <tr class="template_data">
 
                        <td>
                            
                            <a href="{% url 'fieldslip-detail' fieldslip.pk %}">{{ fieldslip.field_number }}</a></td> 
                        <td>{{ fieldslip.collector }}</td>
                        
                        <td>{{ fieldslip.collection_date }}</td>
                        <td class="hidden-mobile">&nbsp;{{ fieldslip.verbatim_locality }}</td>
                        <td class="hidden-mobile">&nbsp;{{ fieldslip.verbatim_taxon }}</td>
                        <td class="hidden-mobile">&nbsp;{{ fieldslip.verbatim_element }}</td>
                        <td class="hidden-mobile">&nbsp;{{ fieldslip.verbatim_horizon }}</td>
                        <td class="hidden-mobile">
                            {% if fieldslip.aerial_photo %}
                                <img src="{{ fieldslip.aerial_photo.url }}" alt="Aerial Photo" style="max-width: 100px; height: auto; ">
                            {% else %}
                                No photo
                            {% endif %}
                        </td>
                        <td>
                            &emsp;<a href="{% url 'fieldslip-edit' fieldslip.pk %}" class="edit-icon">✏️</a>
                        </td>
                    </tr>
                <!--</div>--> 
                {% endfor %}
            </table>
            </tbody>
            
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
function toggleAccordion(id) {
    var panel = document.getElementById(id);
    if (panel.classList.contains("w3-show")) {
        panel.classList.remove("w3-show");
        panel.classList.add("w3-hide");
    } else {
        panel.classList.remove("w3-hide");
        panel.classList.add("w3-show");
    }
}
</script>
{% endblock %}
