{% extends "base_generic.html" %}

{% block title %}
      <title>fieldslip-list</title>
{% endblock %}

{% block content %}

    <div class="fieldslip_list_body">
        <div class="container"></div>
        
        <div class="actions">
            <button><a href="{% url 'fieldslip-create' %}">New Field Slip</a></button> 
            <button><a href="{% url 'fieldslip-export' %}">Export</a></button>
            <button><a href="{% url 'fieldslip-import' %}">Import</a></button>
        
           <!-- <i class="fa-solid fa-magnifying-glass"></i>-->
        </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search " >
     
                <select id="colors" name="fieldslip" class="fieldslip_select">
                <option value="Field Number" >Field Number</option>
                <option value="Collector" >Collector</option>
                <option value="Collection Date" >Collection Date</option>
                <option value="Discoverer" >Discoverer</option>
                </select>

                <button type="reset" class="reset_button">Reset</button>
                
            </div>
           <!--<hr class="fieldslip_list_hr">--> 
           <!-- , Collection Date or Discoverer" onkeyup="searchFieldslips()--> 

            <table class="lists_table">
            
               <!-- <div class="fieldslip_headings">-->

                  <th>Field Number</th>
                  <th>Collector</b>
                    <th>Collection Date</b>
                    <th>Verbatim Locality</b>
                    <th>Verbatim Taxon</b>
                    <th>Verbatim Element</b>
                    <th>Verbatim Horizon</b>
                    <th>Aerial Photo</b>
                    <th>Edit Fieldslip</b>
               <!--</div>--> 

     
                {% for fieldslip in fieldslips %}

               <!-- <div class="fieldslip_inputs">--> 
                   <tr>
 
                        <td>
                            
                            <a href="{% url 'fieldslip-detail' fieldslip.pk %}">{{ fieldslip.field_number }}</a></td> 
                        <td>{{ fieldslip.collector }}</td>
                        
                        <td>{{ fieldslip.collection_date }}</td>
                        <td>&nbsp;{{ fieldslip.verbatim_locality }}</td>
                        <td>&nbsp;{{ fieldslip.verbatim_taxon }}</td>
                        <td>&nbsp;{{ fieldslip.verbatim_element }}</td>
                        <td>&nbsp;{{ fieldslip.verbatim_horizon }}</td>
                        <td>
                            {% if fieldslip.aerial_photo %}
                                <img src="{{ fieldslip.aerial_photo.url }}" alt="Aerial Photo" style="max-width: 100px; height: auto; ">
                            {% else %}
                                No photo
                            {% endif %}
                        </td>
                        <td>
                            &emsp;<a href="{% url 'fieldslip-edit' fieldslip.pk %}" class="edit-icon">✏️</a>
                        </td>
                    </tr>
                <!--</div>--> 
                {% endfor %}
            </table>
            </tbody>
        </div>

        <script src="script.js"></script>
        <script>
            function searchFieldslips() {
                const input = document.getElementById('searchInput');
                const filter = input.value.toLowerCase();
                const table = document.getElementById('fieldslip-list');
                const rows = table.getElementsByTagName('tr');

                for (let i = 0; i < rows.length; i++) {
                    const cells = rows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < cells.length; j++) {
                        if (cells[j]) {
                            const textValue = cells[j].textContent || cells[j].innerText;
                            if (textValue.toLowerCase().indexOf(filter) > -1) {
                                found = true;
                                break;
                            }
                        }
                    }

                    rows[i].style.display = found ? "" : "none";
                }
            }
        </script>
    </div>

{% endblock %}
