{% extends "base_generic.html" %}

{% block content %}
<div class="template_import">

    <div class="import_body">
        <h2>Import File</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="import_area">
                <i class="fa-solid fa-file-import import_icon" ></i> 
                <p class="Import_p"><b>Drag and Drop file here</b> </p>
                <label for="import_file" class="import_CSV">File supported: CSV</label> <br>
                <input type="file" name="import_file" id="import_file" class="import_file" required>
            </div>
            <button type="submit" class="Import_submit">Import</button>
        </form>
    </div>

</div>
{% endblock %}
