{% extends "base_generic.html" %}

{% block content %}
<h2>Confirm Deletion</h2>
<p>Are you sure you want to delete the preparation record for <strong>{{ preparation.accession_row }}</strong>?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'preparation-detail' preparation.pk %}" class="btn btn-secondary">Cancel</a>
</form>
<div class="navigation-links">
    <a href="{% url 'preparation-detail' form.instance.pk %}" class="btn btn-secondary">← Back to Detail</a>
</div>
{% endblock %}
