{% extends "base_generic.html" %}

{% load i18n custom_filters %}

{% block title %}Storage {{ storage.area }}{% endblock %}

{% block content %}
<main class="w3-container w3-margin-top" role="main">
  <header class="w3-row w3-margin-bottom w3-padding-16 w3-border-bottom w3-white w3-round-large" aria-labelledby="storage-details-heading">
    <div class="w3-col s12 m6 l6">
      <h1 id="storage-details-heading" class="w3-margin-0">{% blocktrans with area=storage.area %}Storage {{ area }}{% endblocktrans %}</h1>
    </div>
    <div class="w3-col s12 m6 l6 w3-right-align w3-margin-top">
      {% if can_edit %}
        <a href="{% url 'storage_edit' storage.pk %}" class="w3-button w3-blue w3-round" aria-label="{% trans 'Edit storage' %}">
          <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
          <span class="w3-hide-small w3-margin-left">{% trans "Edit Storage" %}</span>
        </a>
      {% endif %}
    </div>
  </header>

  {% include "cms/partials/tabs.html" with tabs=storage_tabs tabs_heading_id="storage-tabs-heading" heading_label=_("Storage content") heading_icon="fa-box-archive" %}

  <div class="w3-margin-top">
    <a href="{% url 'storage_list' %}" class="w3-button w3-light-grey w3-round">
      <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      <span class="w3-margin-left">{% trans "Back to Storages" %}</span>
    </a>
  </div>
</main>
{% endblock %}
