{% load i18n %}
{% with instance=form.instance %}
  {% if heading_id %}
    {% with resolved_heading_id=heading_id %}
      {% include "includes/base_form_inner.html" %}
    {% endwith %}
  {% else %}
    {% blocktrans asvar default_form_title %}Form{% endblocktrans %}
    {% with base_title=title|default:default_form_title %}
      {% with resolved_heading_id=base_title|slugify|add:"-form-heading" %}
        {% include "includes/base_form_inner.html" %}
      {% endwith %}
    {% endwith %}
  {% endif %}
{% endwith %}
