{% if form.non_field_errors %}
  <div class="form-errors">
    {% for error in form.non_field_errors %}
      <p class="error-message w3-text-red">{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% if form.media %}
  {{ form.media }}
{% endif %}

{% if title %}
  <h1>
    {% if form.instance.pk %}Edit {{ title }}{% else %}New {{ title }}{% endif %}
  </h1>
{% endif %}

<form method="{{ method|default:'post' }}" action="{{ action|default:'' }}" class="form-container"
      enctype="{{ enctype|default:'application/x-www-form-urlencoded' }}">
  {% csrf_token %}

  {# Handle formsets #}
  {% if form.management_form %}
    {{ form.management_form }}
  {% endif %}

  <table class="form-table" width="100%">
    {% for field in form %}
      <tr class="form-group {% if field.errors %}has-errors{% endif %}">
        <td><label for="{{ field.id_for_label }}" class="form-label">{{ field.label }} {% if field.field.required %}<span class="required-marker">*</span>{% endif %}</label></td>
        <td>
          {{ field }}
          {% if field.help_text %}
            <small class="form-help-text">{{ field.help_text }}</small>
          {% endif %}
          {% if field.errors %}
            <ul class="error-list w3-text-red">
              {% for error in field.errors %}
                <li class="error-message w3-text-red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="2" class="form-submit-row">
        <button type="submit" class="form-submit-button w3-button w3-green">Create FieldSlip</button>
      </td>
    </tr>
  </table>
</form>
