{% load i18n user_tags %}
{% if layout == 'mobile' %}
  {% with link_class='w3-bar-item w3-button w3-left-align w3-text-dark-grey w3-hover-text-deep-orange nav-link' dropdown_container_class='w3-dropdown-click w3-bar-item nav-dropdown' dropdown_button_class='w3-bar-item w3-button w3-left-align w3-text-dark-grey w3-hover-text-deep-orange w3-block nav-link' menu_id='reports-menu-mobile' logout_button_class='w3-button w3-left-align w3-text-dark-grey w3-hover-text-deep-orange w3-block nav-link' logout_container_class='w3-bar-item nav-auth' login_button_class='w3-bar-item w3-button w3-left-align w3-text-dark-grey w3-hover-text-deep-orange w3-block nav-link' user_label_class='w3-bar-item w3-small w3-text-dark-grey w3-left-align nav-user-label' %}
    {% include 'includes/navigation_links_inner.html' %}
  {% endwith %}
{% else %}
  {% with link_class='nav-link w3-bar-item w3-button w3-padding-16 w3-text-dark-grey w3-hover-text-deep-orange' dropdown_container_class='w3-dropdown-click nav-dropdown' dropdown_button_class='nav-link w3-bar-item w3-button w3-padding-16 w3-text-dark-grey w3-hover-text-deep-orange nav-dropdown-trigger' menu_id='reports-menu' logout_button_class='nav-link w3-button w3-padding-16 w3-text-dark-grey w3-hover-text-deep-orange' logout_container_class='nav-auth w3-bar-item w3-padding-16' login_button_class='nav-link w3-bar-item w3-button w3-padding-16 w3-text-dark-grey w3-hover-text-deep-orange' user_label_class='nav-user-label w3-bar-item w3-small w3-text-dark-grey w3-padding-16' %}
    {% include 'includes/navigation_links_inner.html' %}
  {% endwith %}
{% endif %}
