{% load i18n %}
{% load allauth %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% if not SOCIALACCOUNT_ONLY %}
        <div class="w3-section">
            <div class="w3-center w3-border-top w3-border-light-grey w3-padding-small">
                <span class="w3-small w3-text-grey">{% translate "Or sign in with" %}</span>
            </div>
        </div>
    {% endif %}
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
