{% load i18n allauth %}
<div class="w3-padding-large">
    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}" class="w3-container w3-padding-16" aria-label="{% trans 'Set password form' %}">
        {% csrf_token %}
        {{ redirect_field }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="w3-section">
                <label for="{{ field.id_for_label }}" class="w3-text-dark-grey w3-small w3-uppercase">
                    {{ field.label }}
                </label>
                {{ field.as_widget(attrs={'class': 'w3-input w3-border w3-round-large', 'placeholder': field.label}) }}
                {% if field.errors %}
                    <div class="w3-text-red w3-small" role="alert">
                        {{ field.errors|join:" " }}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <p class="w3-small w3-text-gray">{{ field.help_text }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" name="action" class="w3-button w3-brown w3-round-xlarge w3-block w3-padding-large">
            <span class="fa-solid fa-key" aria-hidden="true"></span>
            <span class="w3-margin-left">{% trans "Set Password" %}</span>
        </button>
    </form>
</div>
